.App {
    text-align: center;
    font-size: 30px;
    background: url("./images/green-wallpaper.jpg");
}

.App-header {
    background-color: #222;
    height: 150px;
    color: black;
    background: url("./images/tockphoto.jpg");
    padding: 15px;
}